<!DOCTYPE html>
<html lang="en">
    <header style="text-align:center; font-family: old english; font-size: 40px; color:black">

        <h1>About Us</h1>
    </header>

    <body>
        <div style="background-color: #5F9DF7; padding: 10px; border: 1px">
        <h3> Team Members </h3>
        <p> Chingsan Ly</p>
        <p> Tristian Do</p>
        <p> Wilson Tu</p>
    </div>
    <div style="background-color: #425F57; padding: 10px; border: 1px">
        <h3>Vision Statement</h3>
        <p> Our vision is to create a useful app which benefit everyone</p>
    </div>

    <div style="background-color: #FF731D; padding: 10px; border: 1px">
        <h3>Personal Statement</h3>
        <p> Our vision is to create a useful app which benefit everyone</p>
    </div>
    </body>
</html>