<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="text-3xl font-bold underline text-blue-700">
    Hello world!
  </h1>
</body>
<div>[[ Dynamic Remake code goes here]]</div>
<br><br>
<a href="https://docs.remaketheweb.com/a-simple-example-app/">Try a simple todo app</a>
</html>
