<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sticky Note App</title>

    <style>
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .sm-padding {
        padding: 0 0.5rem;
      }


      .container-2 {
        margin: 0 auto;
        height: 100%;
        max-width: 1440px;
      }
      
      .spacer {
        margin: 20px 0;
      }

      .spacer.horizontal {
        margin-left: 0 5px;
      }
    </style>

    <style>
      header {
        background-color: #DEF5E5;
        height: 80px;
        font-weight: bolder;
      }

      header nav ul li {
        color: #423f3c;
        padding: 0 1rem;
      }

      header nav ul li.active {
        border-bottom: 5px solid #faa64c;
      }
    </style>

    <!-- hero -->
    <style>
      .hero {
        background-color:#DEF5E5;
        height: 600px;
      }

      .hero .title {
        font-size: 3rem;
        font-weight: 900;
      }

      .hero .subtitle {
        font-size: 1.5rem;
      }

      .left-container, .right-container {
        height: 100%;
        width: 50%;
      }

      .btn {
        background: none;
        border: none;
      }

      .btn.hero-cta {
        -webkit-box-shadow: 7px 7px 0px -2px #fb9260;
        box-shadow: 7px 7px 0px -2px #fb9260;
        color: white;
        cursor: pointer;
        background-color: #3141c0;
        padding: 0.5rem 1rem;
        font-weight: bolder;
      }
    </style>
  </head>
  <body>

    <div>
      <header>
        <!-- logo -->
        <div class="container flex items-center justify-between">
          <div class="logo flex">
            <img height="50" width="50" src="/assets/images/sticky.jpeg">
          </div>

          <nav>
            <ul class="flex">
              <li><a class="active" href="/">Home</a></li>
              {{#if currentUser}}
                <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
                <li><a href="/user/logout">Logout</a></li>
              {{else}}
                <li><a href="/user/signup">Sign up</a></li>
                <li><a class="nav__button" href="/user/login">Log in</a></li>
              {{/if}}
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
       

        <!-- navigation -->
      </header>

      <main>
        <section class="hero">
          <div class="container-2 sm-padding flex items-center justify-between">
              <div class="left-container flex-col flex items-start justify-center">
                <!-- title -->
                <h1 class="title">Sticky Note - the note that never lost</h1>
                <div class="spacer"></div>
                <p class="subtitle">Sometimes you never know the value of a moment until it becomes a memory</p>
                <!-- call to action -->
                <div class="spacer"></div>

                <!-- if else statement -->
                {{#if currentUser}}
                <a class="btn hero-cta flex" href="/{{currentUser.details.username}}">Start Using The Sticky Note</a>
                {{else}}
                <a class="btn hero-cta flex" href="/user/signup">Sign up</a>
                {{/if}}

              </div>
              <div class="right-container flex justify-center items-center">
                <img height="50" src="/assets/images/note.png" alt="">
              </div>
          </div>
          
        </section>
      </main>
      
      <footer>

      </footer>
    </div>
  </body>
</html>
