<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<!--
<body class="flex flex-col h-screen bg-gradient-to-br from-cyan-50 to-cyan-500">
  {{#if currentUser}}
    <a href="/user/logout">Logout</a>
  {{else}}
    {{!-- <a class="nav__button" href="/user/signup">Sign up</a>
    &nbsp;
    <a class="nav__button" href="/user/login">Log in</a> --}}
    <div class="flex flex-row h-20 items-center">
      <a class="ml-8" href="/"><p class="transition transform hover:scale-110 underline underline-offset-8">Main Menu</p></a>
            <a class="ml-8" href="/login"><p class="transition transform hover:scale-110 underline underline-offset-8">Log In</p></a>
                        <a class="ml-8" href="/about"><p class="transition transform hover:scale-110 underline underline-offset-8">About Us</p></a>
    </div>
  {{/if}}
  -->
  
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
</html>
